/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,400;0,600;0,700;0,800;1,100;1,400;1,600;1,700;1,800&display=swap');

/* Variables:
100 - 400 - 600 - 700 - 800
*/

/*Colores
header: #D61300
titulo secciones: #AD0E00

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
}

/* Contenedores */

.container-resp{
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-fullwidth{
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}


/* Header */

.header{
    background: #D61300;
    color: white;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
/*     padding-top: 10px;
    padding-bottom: 10px;
 */    }
    .header .logo{
/*         padding-top: 10px;
        padding-bottom: 10px;
 */        width: 20%;
    }
    .logo:hover{
        animation: tada;
        animation-duration: 2s;
    }

    .header .img-logo{
        width: 100%;
    }

    .header nav a{
        color: white;
        text-decoration: none;
    }
    .header-cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-cont nav ul{
        display: flex;
        list-style-type: none;
        }
        .header-cont nav ul li a{
            display: block;
            padding: 30px;
            transition:1s;
        }
        .header-cont nav ul li a:hover{
            background: #ff968c;
        }


.slideHeader{
    background: url("../img/slideHeader.jpg");
/*     height: 40vh;
 */    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    }
    .slideHeader .content{
        width: 70%;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.484);
        padding: 20px;
        border-radius: 15px;
        text-align: center;

    }

    /* Buscador */

    #buscador{
        background: #ff968c;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .buscador{
        display: flex;
        justify-content: space-around;
        align-items: center;
        }
        .text-buscador{
            width: 35%;
            font-weight: 100;
            color: white;
            font-size: 2em;
        }
        .form-buscador{
            width: 50%;
            position: relative;
            }
            .form-buscador label{
                display: inline-block;
            }
            .form-buscador input{
                width: 100%;
                padding: 1em;
                background:none;
                border: none;
                border-bottom: 2px solid white;
                font-size: 1em;
                color: white;
                font-family: inherit;

            }
            .form-buscador .btn-search{
                color: white;
                position: absolute;
                font-size: 2em;
                top: 0;
            }
/* News Home */

#news-home{
    margin-top: 2em;
}

.news-section-title{
    padding: 40px 0 0 0;
    /* box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.363); */
    margin-bottom: 5px;
    }
    .news-section-title span{
        font-weight: 800;
        color: #D61300;
        font-size: 2em;
    }

.news-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    

    .news-1,.news-2,.news-3{
        overflow: hidden;
    }

    .news-img img{
        transition: 1s;
        width: 100%;
    }
    #news-home img:hover{
        transform: scale(1.1,1.1) rotate(2deg);
    }


    .news-left{
        width: 48%;
    }
    .news-right{
        width: 48%;
        }
        .news-img{
            overflow: hidden;
            border-radius: 10px;
            
        }
        .news-title{
            transform: 
            translate(30px, -80px);
            color: white;
        }

        .news-down{
            margin-top: 2em;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }
        .news-down img{
            width: 100%;
        }
        .news-4,.news-5,.news-6{
            width: 30%;
        }

/* Contacto */

#contacto{
    background: linear-gradient(#d61200a0,rgb(117, 14, 14));
    }
    #contacto .news-section-title span{
        color:white;
    }

#contacto .container-resp{
    display: flex;
    justify-content: space-between;
    }
    .formContacto{
        width: 50%;
    }
    .mapHome{
        width: 40%;
        align-self: center;
    }

    /* Template noticia */

    .info-noticias{
        display: flex;
        justify-content: space-between;
        align-content: center;
        }
        .volver a{
            text-decoration: none;
            color:black;
            }
            .volver a:hover{
                text-decoration: underline;
            }
        .info-noticias .titulo h3{
            font-weight: bold;
            background: #D61300;
            color:white;
            font-size: 1.2em;
            padding: 10px;
        }

        .news-title-sample h1{
            font-weight: bold;
            /* line-height: 20px; */
        }
        .news-subtitle{
            font-weight: 400;
            font-size: 1.2em;
        }
        .news-image img{
            width: 100%;
        }
        .news-rrss{
            font-size: 2em;
            text-align: right;
        }

/* Noticias Relacionadas */

#mas-noticias{
    background: grey;
    }
    #mas-noticias h5{
        font-size: 1.5em;
        font-weight: 800;
    }

    /* Media Queries */

@media (min-width: 576px) { 
    .container-resp{width:540px;}
}

@media (max-width:767px){
    .news-main{
        display: block;
    }
    .news-left{
        width: 100%;
    }
    .news-right{
        width: 100%;
    }
    .news-down{
        flex-direction: column;
    }
    .news-4,.news-5,.news-6{
        width: 100%;
    }
}

@media (min-width: 768px) { 
    .container-resp{width:720px;}
    /* news-home */

 }

@media (min-width: 992px) { 
    .container-resp{width:960px;}
 }

@media (min-width: 1200px) { 
    .container-resp{width:1140px;}
 }

@media (min-width: 1400px) { 
    .container-resp{width:1320px;}
 }
